/*cambia el tamaño de la letra del h1*/
h1 {
    font-size: 40px;
}

/*le coloca los bordes a los titulos*/
h1,
h2 {
    background-color: #0a5bfd7d;
    border: 3px solid #004094;
    padding: 5px;
}


/*esto le coloca la negrilla a las letras*/
h1,
h2,
p,
ul {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/*esto le coloca los bordes a las imagenes */
img {
    border: 4px solid rgb(5, 130, 207);
}